body {
    background: #141414;
    padding: 0px;
    margin: 0px;
    
    color: whitesmoke;
    font-family: 'Archivo Black', sans-serif;
}

#menu {
    display: inline-flex;
    height: 50px;
    width: 100%;
    position: relative;
    background: #050505;
    color: whitesmoke;
}

.menu-option {
    margin: 2px;
    border: 2px solid chocolate;
    flex-grow: 1;

    text-align: center;
    line-height: 40px;
    font-size: 30px;
    cursor: pointer;
}

.menu-selection {
    position: absolute;
    padding: 5px;
}

.spoiler-button {
    display: inline;
    text-align: center;
    
    cursor: pointer;
}

.spoiler {
    margin-left: 8px;
    border-left: 2px solid whitesmoke;
    border-radius: 8px;
}

.spoiler-button:hover {
    color: skyblue;
}

#dropy ol
{
    margin: 0px;
    list-style: none;
    display: block;
}

.spoiler ol
{
    padding-left: 15px;
}