html {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  overflow: hidden;
  z-index: 0;
}
#bg img {
  z-index: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: scale(1.01);
  min-width: 50%;
  min-height: 50%;
  webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.box {
  z-index: 1;
  margin: auto;
  width: 600px;
  height: 200px;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: rgba(20, 20, 20, 0.5);
  font-size: 20px;
}

.is {
  color: white;
  z-index: inherit;
  font-family: 'Advent Pro', sans-serif;
  font-size: 75px;
  letter-spacing: +4px;
  line-height: 85px;
  text-align: center;
  margin-top: 30;
  margin-bottom: 4;

}
.br {
  color: white;
  font-family: 'Advent Pro', sans-serif;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  margin-top: 0;
}
