body {
    padding: 0px;
    margin: 0px;
}

#question {
    font-family: 'Baloo Bhaijaan';
    color: whitesmoke;
    font-size: 100px;
    
    margin-top: 200px;
    
    text-align: center;
}

#text {
    font-family: 'Baloo Bhaijaan';
    
    color: whitesmoke;
    font-size: 100px;
    margin-top: 10px;
    
    text-align: center;
}

#check {
    
}

#background-image {
    position: fixed;
    top: -5%;
    left: -5%;
    width: calc(110%);
    height: calc(110%);
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(30px);
    
    z-index: -1;
}